services:
  redis:
    image: redis/redis-stack:latest
    ports:
      - "6379:6379"
      - "8001:8001" # Redis Stack UI
    volumes:
      - ./redis-data:/data

  backend:
    build:
      context: ./backend
    environment:
      - PORT=5000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=change-me
      - JWT_TTL_SECONDS=604800
      - TASK_TTL_SECONDS=2592000
    ports:
      - "5000:5000"
    depends_on:
      - redis

  nginx:
    build:
      context: ./frontend
      target: nginx
    ports:
      - "3000:80"
    depends_on:
      - backend
